<div class="container register-container mt-4">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input register-login" type="login" placeholder="Логин" required>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input register-password" type="password" placeholder="Пароль" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input register-email" type="email" placeholder="email" required>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success register-btn">
        Зарегистрировать
      </button>
    </p>
  </div>
</div>