<div class="columns">
  <div class="column">
    <h1 class="title is-3">Просмотр категорий блога</h1>
    <div class="content my-2">
      {{#each category}}
      <article class="message is-danger">
        <div class="message-header">
          Info
          <button class="delete"></button>
        </div>
        <div class="message-body">
          {{name}}
        </div>
      </article>
      {{/each}}
    </div>
  </div>
  <div class="column">
    <h2 class="title is-3">Добавление категории</h2>
    <div class="field category-edit">
      <label class="label">Название категории</label>
      <div class="control">
        <input class="input" type="text" placeholder="Введите текст">
      </div>
      <p class="help">Например: музыка, путешествия...</p>

      <div class="field is-grouped mt-2">
        <div class="control">
          <button class="button cat-add is-link" type="submit">Отправить</button>
        </div>
      </div>
    </div>
  </div>
</div>